
@import 'compass/css3/transition';
@import 'compass/css3/transform';

.l-pagenav-container {
	position: fixed;
	z-index: 110;
	bottom: 0;
	left: 0;
	right: 0;

}

.l-pagenav-pos {
	z-index: 101;
	height: 145px;
	position: absolute;
	bottom: 0;
	right: 0;
	@include transform-origin(0 0);
	@include transform( translateX(0deg) );

	.navfallback & {
		height: $navfallback-h + 15px;
		right: 400px;
	}
}
