
/**
 * Styling for Directive "PageNav" with the train in it.
 */
@import 'compass/css3/transform';
@import 'compass/css3/transition';
@import 'compass/css3/text-shadow';
@import 'vars';
@import 'layout';
@import 'states';

.pagenav-container {
	@include transform-origin( right center );

	@each $w in $mobile-widths {

		@if( ($w / 400px) < 1 ) {
			@media screen and (max-width: $w) {
				@include transform( scale( $w / 400px ) );
			}
		}
	}
}

.pagenav-btnpaused {
	width: 100px;
	height: 40px;
	display: none;
}


.pagenav-trainfront {
	.inner {
		display: block;
		width: 112px;
		height: 132px;
	}
	@include transform( translateX($carriage1X) translateY($offsetY) );

	.navfallback & {
		display: none;
	}
}

.pagenav-trainlink {
	width: 260px;
	height: 18px;
	@include transform( translateX(80px) translateY($offsetY + 90px) );

	.navfallback & {
		display: none;
	}
}

.pagenav-trainwheel {
	pointer-events: none;

	.inner {
		width: $wheelW;
		height: $wheelH;
		@include transform-origin(center center);
		display: block;
	}

	.navfallback & {
		display: none;
	}
}


.pagenav-trainwheel-blue1 {
	@include transform( translateX($trainFrontGap + $carriage1X + 5px) translateY($wheelY) );
}
.pagenav-trainwheel-blue2 {
	@include transform( translateX($trainFrontGap + $carriage1X + $wheelGap + 10px) translateY($wheelY) );
}

.pagenav-trainwheel-yellow1 {
	@include transform( translateX($carriage2X + $carriageFrontGap) translateY($wheelY) );
}
.pagenav-trainwheel-yellow2 {
	@include transform( translateX($carriage2X + $carriageFrontGap + $wheelGap) translateY($wheelY) );
}

.pagenav-trainwheel-red1 {
	@include transform( translateX($carriage3X + $carriageFrontGap) translateY($wheelY) );
}
.pagenav-trainwheel-red2 {
	@include transform( translateX($carriage3X + $carriageFrontGap + $wheelGap) translateY($wheelY) );
}

.pagenav-trainwheel-green1 {
	@include transform( translateX($carriage4X + $carriageFrontGap) translateY($wheelY) );
}
.pagenav-trainwheel-green2 {
	@include transform( translateX($carriage4X + $carriageFrontGap + $wheelGap) translateY($wheelY) );
}


.pagenav-traincarriage-yellow,
.pagenav-traincarriage-red,
.pagenav-traincarriage-green {
	.inner {
		display: block;
		width: $carriageW;
		height: $carriageH;
	}

	.navfallback & {
		display: none;
	}
}

.pagenav-traincarriage-yellow {
	@include transform( translateX($carriage2X) translateY($carriageY) );
}

.pagenav-traincarriage-red {
	@include transform( translateX($carriage3X) translateY($carriageY) );
}

.pagenav-traincarriage-green {
	@include transform( translateX($carriage4X) translateY($carriageY) );
}


.pagenav-btnnav {
	position: absolute;
	width: 450px;

	.navfallback & {
		height: $navfallback-h;
		background-color: $yellow-light-1;
		border: 3px solid $yellow-dark-1;
	}

	// ie9 doesn't have transform rotation or 3d
	.notransforms3d & {
		top: -20px;
	}

	& > .transformable {

		&:nth-child(2) { left: 45px; }
		&:nth-child(3) { left: 120px; }
		&:nth-child(4) { left: 210px; }
		&:nth-child(5) { left: 300px; }
	
		// ie8 safe version of nth-child
		.navfallback & {
			position: relative;
			float: left;
			left: 0;
																   .btnnav{ color: $blue-dark-1; }
			& + .transformable 									 { .btnnav{ color: $yellow-dark-1; } }
			& + .transformable + .transformable 				 { .btnnav{ color: $red-dark-1; } }
			& + .transformable + .transformable + .transformable { .btnnav{ color: $green-dark-1; } }
		}
	}

	.btnnav {
		position: absolute;
		border: none;
		background-color: transparent;
		font-family: "Gloria Hallelujah";
		font-size: 1.4em;
		@include text-shadow(2px 2px 1px #fff);
		@include transform-origin(0 0 0);
		@include transform( rotateZ(-30deg) );		
		-ms-transform: rotate(-30deg); // why can't IE9 use standards?

		.navfallback & {
			position: relative;
			font-size: 1.2em;
			line-height: 32px;
		}
	}
}

.pagenav-fallbackarrows {
	position: relative;
	float: left;
	margin-left: 10px;
	color: $yellow-dark-1;
	font-size: 1.7em;
	font-family: "Gloria Hallelujah";
	line-height: 32px;
	display: none;

	.navfallback & {
		display: block;
	}
}