
/*
Uses Animate.sass for Compass 1.2.x. When 1.3.x is released it will not be needed.

Installation
1. `gem install animate-sass`
2. Add `require 'animate-sass'` in Compass's `config.rb` file - for this project located in grunt_tasks/sass/config.rb
3. Then `@import animate.sass` (all animations)
*/
@import 'compass/css3/transition';
@import 'compass/css3/transform';

@import "animate/css3/transform";
@import "animate/css3/animation/animation-name";
@import "animate/css3/animation/animation-duration";
@import "animate/css3/animation/animation-iteration-count";
@import "animate/css3/animation/animation-timing-function";
@import "animate/css3/animation/animation-direction";
// @import "animate/css3/animation/animation-play-state";
@import "animate/css3/animation/animation-delay";
// @import "animate/css3/animation/animation-fill-mode";



.train-is-moving {

	.pagenav-trainwheel {
		.inner {
			@include animation-name(wheels-go-round);
			@include animation-timing-function(linear);
		}
	}
}

.train-is-showing-head {
	// right: 0;
	// @include animation-name(train-is-moving-showing-head);
	@include transition-duration($train-speed);
	// @include transition-delay($train-speed);
	@include transition-timing-function(ease-out);

	@include transform( translateX($show-head-mob) );

	@media screen and (min-width: $screen-xs) {
		@include transform( translateX($show-head) );
	}
	// @include animation-iteration-count(infinite);
	
	.pagenav-trainwheel {
		.inner {
			@include animation-direction(reverse);
			@include animation-duration($train-speed);
		}
	}

	.pagenav-btnnav > .transformable {
		@include transition-duration($train-speed);
		opacity: 0;
	}

	.navfallback & {
		right: 60px;
	}
}

// wheels direction override for intro animation
.intro-ani .pagenav-trainwheel .inner {
	@include animation-direction(normal);
}


.train-is-showing-full {
	// right: 0;
	// @include animation-name(train-is-moving-showing-full);
	@include transition-duration($train-speed);
	@include transition-timing-function(ease-in-out);
	@include transform( translateX($show-full) );

	.pagenav-trainwheel {
		.inner {
			@include animation-duration($train-speed);
		}
	}

	.pagenav-btnnav > .transformable {
		@include transition-duration($train-speed);
		opacity: 1;
	}
}


.train-is-moving-continuously {
	width: 100%;
	@include animation-name(train-is-moving-continuously);
	@include animation-duration(15s);
	@include animation-iteration-count(infinite);
	@include animation-timing-function(linear);

	.inner {
		@include animation-duration(3s);
		@include animation-iteration-count(infinite);

		&.alt {
			@include animation-delay(0.5s);
		}
	}
}

// animations

@mixin train-is-moving-continuously {
	from {
		@include transform( translateX(100%) );
	}

	to {
		@include transform( translateX(-400px) );
	}
}


@mixin wheels-go-round {
	from {
		@include transform( rotateZ(0deg) );
	}

	to {
		@include transform( rotateZ(-360deg) );
	}
}

@if $experimental-support-for-webkit {
  @-webkit-keyframes train-is-moving-continuously { @include train-is-moving-continuously; }
  @-webkit-keyframes wheels-go-round { @include wheels-go-round; }
}
@if $experimental-support-for-khtml {
  @-khtml-keyframes train-is-moving-continuously { @include train-is-moving-continuously; }
  @-khtml-keyframes wheels-go-round { @include wheels-go-round; }
}
@if $experimental-support-for-mozilla {
  @-moz-keyframes train-is-moving-continuously { @include train-is-moving-continuously; }
  @-moz-keyframes wheels-go-round { @include wheels-go-round; }
}
@if $experimental-support-for-microsoft {
  @-ms-keyframes train-is-moving-continuously { @include train-is-moving-continuously; }
  @-ms-keyframes wheels-go-round { @include wheels-go-round; }
}
@if $experimental-support-for-opera {
  @-o-keyframes train-is-moving-continuously { @include train-is-moving-continuously; }
  @-o-keyframes wheels-go-round { @include wheels-go-round; }
}
@keyframes train-is-moving-continuously { @include train-is-moving-continuously; }
@keyframes wheels-go-round { @include wheels-go-round; }
