
$offsetY: 0px;

$carriageGap: 15px;
$trainFrontGap: 10px;
$carriageFrontGap: 3px;

$carriageW: 78px;
$carriageH: 91px;

$carriage1X: 0;
$carriage2X: 20px + $carriageFrontGap + $carriage1X + $carriageW + $carriageGap;
$carriage3X: $carriage2X + $carriageW + $carriageGap;
$carriage4X: $carriage3X + $carriageW + $carriageGap;
$carriageY: $offsetY + 40px;

$wheelW: 36px;
$wheelH: 37px;
$wheelY: $offsetY + 110px;
$wheelGap: 35px;

$show-head: -$carriage2X - 30px;
$show-head-mob: -($carriage2X - 40px);
$show-full: -($carriage4X + $carriageW + $carriageGap);

$train-speed: 1s;

$navfallback-h: 40px;