/* Gallery page start */

@import "compass/css3/transform";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";
@import "../../../../deps/libs/versioned/angular-carousel.v0.2.2/angular-carousel";

$gallerythumbnails-w: 60px;
$gallerythumbnails-h: 40px;
$chrome-btn-pad: 2px;
$gallerythumbnails-mobile-minus: 10px;

.pggallery-content {
	background-color: $red-light-1;
	border: 3px solid $red-dark-1;
	@include border-radius(40px);
}

.pggallery-btnclose {
	@media screen and (min-width: $screen-xs) {
		top: -50px;
		right: -88px;
	}
}

.pggallery-token {
	z-index: 10;
}

.pggallery-leaf {
	width: 83px;
	height: 111px;
	top: -45px;
	left: -30px;
	$scale: 0.5;
	@include transform( scaleX(-$scale) scaleY($scale) );
}

.pggallery-chicken {
	width: 39px;
	height: 42px;

	top: -22px;
	right: 58px;
	$scale: 1.1;
	@include transform( scaleX(-$scale) scaleY($scale) rotateZ(-18deg) );

	@media screen and (min-width: $screen-xs) {
		top: -15px;
		right: 4px;
		$scale: 1.3;
		@include transform( scaleX(-$scale) scaleY($scale) rotateZ(20deg) );
	}
}

.pggallery-apple {
	width: 31px;
	height: 25px;
	bottom: 0;
	left: 0;
	$scale: 1.4;
	@include transform( scaleX($scale) scaleY($scale) );
}

.pggallery-carrot {
	width: 36px;
	height: 39px;
	bottom: 5px;
	right: -10px;
	$scale: 1.7;
	@include transform( scaleX($scale) scaleY($scale) );
}

.pggallery-heading {
	color: $red-dark-1;
}


// Modules

.rn-carousel-container {
	margin: 15px 0 10px 0;
	z-index: 10;
    // border: 3px solid $red-dark-1;
	overflow: hidden;
	@include border-radius(20px);
}

.rn-carousel-slides {
	// height: round( 478px * $portraitScaleX );
	height: 270px;

    @media screen and (min-width: $screen-xs) {
        height: 478px;
    }
}

.rn-carousel-slide {
	background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    // will need to test this in ie8, but should work
    background-size: "/_dist/deploy/libs/backgroundsize.min.htc";
}




/* !!!! This css needs cleaning up. Taken straight from demo page. */
.ng-cloak {
  display:none;
}
.center {
    text-align:center;
}
.gallerythumbnails {
    // width:450px;
    text-align:center;
}
.gallerythumbnails-btn {
    display: inline-block;
    margin:6px 7px;
    padding: 0;
    transition: border 0.2s ease-in;
    border: none;
    position: relative;
    background-color: transparent;
    
    width:$gallerythumbnails-w - $gallerythumbnails-mobile-minus;
    height:$gallerythumbnails-h - $gallerythumbnails-mobile-minus;

    @media screen and (min-width: $screen-xs) {
	    width:$gallerythumbnails-w;
	    height:$gallerythumbnails-h;
    }

	/**
	 * Removed as using sprites now
	 */

    // background-position: center center;
    // background-size:cover;

    /* Polyfill for ie8 */
    /* The url is relative to the document, not to the css file! */
    /* Prefer absolute urls to avoid confusion. */
    // -ms-behavior: url(/_dist/deploy/libs/backgroundsize.min.htc);
}
.gallerythumbnails-img {
	// this should get appsprite attached to it
	display: block;
	position: absolute;
	top: 0;
	left: 0;

	// chrome had mandatory padding on inner button elements
	padding:$chrome-btn-pad;

    border:1px solid transparent;
	overflow: hidden;
	@include border-radius(10px);
	@include box-shadow(0 0  6px rgba(255,255,255,0.6));
	
    width:$gallerythumbnails-w - $chrome-btn-pad - $gallerythumbnails-mobile-minus;
    height:$gallerythumbnails-h - $chrome-btn-pad - $gallerythumbnails-mobile-minus;

    @media screen and (min-width: $screen-xs) {
	    width:$gallerythumbnails-w - $chrome-btn-pad;
	    height:$gallerythumbnails-h - $chrome-btn-pad;
    }
	
	.is-active & {
	    border: 2px solid $red-dark-1;
	    
	    // makes up for border width
	    top: -1px;
	    left: -1px;
	}
}


/* Gallery page end */
