/* newsletters page start */

@import "compass/css3/transform";
@import "compass/css3/border-radius";

.pgnewsletters-content {
	background-color: $yellow-light-1;
	border: 3px solid $yellow-dark-1;
	@include border-radius(40px);
}

.pgnewsletters-btnclose {
	@media screen and (min-width: $screen-xs) {
		top: -48px;
		right: -100px;
	}
}

.pgnewsletters-heading {
	color: $yellow-dark-1;
}


.pgnewsletters-pear {
	left: -11px;
	width: 27px;
	height: 35px;
	top: -12px;
	$scale: 1.3;
	@include transform( scaleX($scale) scaleY($scale) );

	@media screen and (min-width: $screen-xs) {
		left: 0;
	}
}

.pgnewsletters-butterfly {
	width: 100px;
	height: 103px;

	top: -52px;
	right: 39px;
	$scale: 0.5;
	@include transform( scaleX($scale) scaleY($scale) rotateZ(90deg) );

	@media screen and (min-width: $screen-xs) {
		top: -45px;
		right: -37px;
		$scale: 0.6;
		@include transform( scaleX($scale) scaleY($scale) rotateZ(90deg) );
	}
}

.pgnewsletters-ladybird {
	width: 29px;
	height: 36px;
	bottom: -7px;
	left: -3px;
	@include transform( rotateZ(30deg) );
}

.pgnewsletters-moon {
	width: 34px;
	height: 37px;
	bottom: 0;
	right: -16px;
	$scale: 1.3;
	@include transform( scaleX($scale) scaleY($scale) );
}


/* newsletters page end */