<div class="l-page l-pgnewsletters">

  <div class="l-page-outter">
  	<div class="pgnewsletters-content l-page-inner">
    	<span class="l-page-inner-scrollable scrollable-y">
    		<section>
	    		<h2 class="pgnewsletters-heading heading heading1">About Me</h2>
		    	<p class="pgnewsletters-body pg-body">
		    	"Miss Melinda" has finished her Early Childhood Studies at The Open University, London (UK), whilst she was working as a pre-school teacher at the Barbican Playgroup in London. She comes from a family full of primary and pre-school teachers and has been teaching various age groups since she was eighteen. Melinda is a keen learner and a dedicated person when it comes to her professional development. She is a fan of the Montessori teaching techniques and also enjoys trying new learning experiences from Reggio Emilia as well.
		    	</p>
			
	    		<h2 class="pgnewsletters-heading heading heading1">Philosophy</h2>
			    	<p class="pgnewsletters-body pg-body">Sunshine Family Day Care aims to provide high quality care and education for children under school age. Its service will be enriched by positive relationships with parents, the coordination unit, the community and the environment. Its goal to deliver a prompt, flexible, inclusive and caring service that meets the diverse needs of families.
			    	<br>
			    	It believes children learn best through play and are capable of building knowledge and understanding from their world.
			    	<br>
			    	It believes children need to feel loved, accepted and to be part of a group regardless of differences, to foster self-esteem and maximise the probability of reaching their full potential... 'Belonging, Being and Becoming'.
			    	<br>
			    	It believes in providing a welcoming atmosphere, fun play environments and challenging yet safe learning experiences that will evoke curiosity, experimentation and exploration.
			    	<br>
			    	Sunshine Family Day Care respects every child and their family. It aims to promote healthy growing, happiness, curiosity, as well as loving and caring for others and nature.
			    	<br>
			    	Its target is to encourage children to become independent, self-confident, adventurous, respectful, open-minded and to encourage them to explore.
		    	</p>
			</section>
    	</span>

    	<button class="pg-btnclose pgnewsletters-btnclose btnclose-speechbubble btnnormalize" 
    			hm-tap="closePage()" hm-tap-opts="Mdl.hmTapBtnOpts" 
                ng-click="closePage(true)"
    			>
    		<span class="title">Close</span>
	    	<svg class="bg">
	    		<use style="fill:#FA9A8E; stroke:#9F2110;" xlink:href="#core-speechbubble"></use>
	    	</svg>
    	</button>
    	
    	<svg class="pgnewsletters-pear transformable">
    		<use xlink:href="#core-pear"></use>
    	</svg>
    	<svg class="pgnewsletters-butterfly transformable">
    		<use xlink:href="#core-butterfly"></use>
    	</svg>
    	<svg class="pgnewsletters-ladybird transformable">
    		<use xlink:href="#core-ladybird"></use>
    	</svg>
    	<svg class="pgnewsletters-moon transformable">
    		<use xlink:href="#core-moon"></use>
    	</svg>
  	</div>
  </div>

</div>