/*! modules common START */

@import "compass/css3/border-radius";

.btnnormalize {
	border: none;
	background-color: transparent;
	margin: 0;

	padding: 2px; // some browsers have mandatory padding on button elements

	&::-moz-focus-inner {
	    border: 0;
	    padding: 2px; // consistant padding
	}
}

.btngo {
	font-family: "Gloria Hallelujah";
	font-size: 1.1em;
	line-height: 130%;
	@include border-radius(10px);
}

.btngo-inner {
	pointer-events: none;
	padding: 8px;
	border-width: 3px;
	border-style: solid;
	@include border-radius(10px);

	.btnsml & {
		padding: 6px;
	}
}


.bodylink {
	color: inherit;
	&:hover {
		color: #666;
	}
}

.btnbig {
	font-size: 2.2em;
}

.btnmed {
	font-size: 1.8em;
}

.btnsml {
	font-size: 0.8em;
}

/*! modules common END */
