<div class="l-page l-pghome">
    <section>

    	<div class="l-page-outter">
	    	<div class="pghome-content l-page-inner">
	        	
	        	<!-- '.pghome-btnplay' wrapped in a span because we want to keep the giggle state separate and there is only 1 transform property per element -->
	        	<!-- <span class="transformable" ng-class="Mdl.giggleState.classes" ng-if="!Mdl.gflipBgFallback" >
	        		<button class="l-pghome-btnplay pghome-btnplay btngo btnnormalize" hm-tap="closePage()">Play the game!</button>
	        	</span> -->

	        	<button class="l-pghome-btnplay pghome-btnplay btngo btnnormalize" 
	        			hm-tap="closePage()" hm-tap-opts="Mdl.hmTapBtnOpts" 
	        			ng-class="Mdl.giggleState.classes" ng-if="!Mdl.gflipBgFallback" >
	        		<span class="btngo-inner ani" >
	        			Play the game!
	        		</span>
	        	</button>

	        	<span class="l-page-inner-scrollable scrollable-y" ng-class="{ 'l-pghome-topgap' : !Mdl.gflipBgFallback }">
	        		<h2 class="pghome-heading heading heading1">Welcome to Sunshine Family Day Care!</h2>
		        	<p class="pghome-body pg-body">Sunshine Family Day Care is a place where families and their children feel safe, secure and supported. It provides an unique experience that focuses on individual needs by providing friendly, homely and educational environments. 
		        	<br>
					"Miss Melinda" is a highly trained and motivated Early Childhood Teacher who guides and provides children with a secure and holistic approach to Early Childhood, which draws upon a wide range of philosophies and techniques.
		        	<br>
					Sunshine Family Day Care was established in January 2014 and welcomes all families and their children to its service. 
					</p>
	        	</span>

	        	<button class="pg-btnclose pghome-btnclose btnclose-speechbubble btnnormalize"
	        			hm-tap="closePage()" hm-tap-opts="Mdl.hmTapBtnOpts"  
	        			ng-click="closePage(true)"
	        			>
	        		<span class="title">Close</span>
		        	<svg class="bg">
		        		<use style="fill:#82C350; stroke:#467F1A;" xlink:href="#core-speechbubble"></use>
		        	</svg>
	        	</button>
	        	
	        	<svg class="pghome-mushroomred transformable">
	        		<use style="fill:#C9282E" xlink:href="#core-mushroom"></use>
	        	</svg>
	        	
	        	<svg class="pghome-caterpillar transformable">
	        		<use xlink:href="#core-caterpillar"></use>
	        	</svg>
	        	<svg class="pghome-bug transformable">
	        		<use xlink:href="#core-bug"></use>
	        	</svg>
	        	<svg class="pghome-fish transformable">
	        		<use style="fill:#E87B36" xlink:href="#core-fish"></use>
	        	</svg>


        	</div>
        </div>

    </section>
</div>