
@import "compass/css3/transform";
@import "compass/css3/border-radius";

.pghome-content {
	background-color: $blue-light-1;
	border: 3px solid $blue-dark-1;
	@include border-radius(40px);
}

.pghome-btnplay {

	.btngo-inner {
		background-color: $red-light-1;
		border-color: $red-dark-1;
		@include transform( rotateZ(-10deg) scale(0.85) );
		
		@media screen and (min-width: $screen-xs) {
			@include transform( rotateZ(-15deg) );
		}
	}
}

.pghome-btnclose {
	@media screen and (min-width: $screen-xs) {
		top: -40px;
		right: -60px;
	}
}

.pghome-heading {
	color: $blue-dark-1;
}


.pghome-caterpillar {
	width: 100px;
	height: 94px;

	top: -17px;
	right: 13px;
	$scale: 0.65;
	@include transform( scaleX(-$scale) scaleY($scale) rotateZ(13deg) );

	@media screen and (min-width: $screen-xs) {
		top: -30px;
		right: -22px;
		$scale: 0.7;
		@include transform( scaleX(-$scale) scaleY($scale) );
	}
}

.pghome-mushroomred {
	width: 24px;
	height: 29px;
	top: 0;
	left: 0;
	$scale: 1.7;
	@include transform( scaleX($scale) scaleY($scale) );
}

.pghome-bug {
	width: 26px;
	height: 24px;
	bottom: 0;
	left: 0;
	$scale: 1.8;
	@include transform( scaleX($scale) scaleY($scale) rotate(40deg) );
}

.pghome-fish {
	width: 60px;
	height: 40px;
	bottom: 0;
	right: 0;
	$scale: 1.3;
	@include transform( scaleX($scale) scaleY($scale) );
}