
/*
Uses Animate.sass for Compass 1.2.x. When 1.3.x is released it will not be needed.

Installation
1. `gem install animate-sass`
2. Add `require 'animate-sass'` in Compass's `config.rb` file - for this project located in grunt_tasks/sass/config.rb
3. Then `@import animate.sass` (all animations)
*/

@import "compass/css3/transform";
@import "compass/css3/transition";

// @import "animate/css3/transform";
@import "animate/css3/animation/animation-name";
@import "animate/css3/animation/animation-duration";
@import "animate/css3/animation/animation-timing-function";
@import "animate/css3/animation/animation-iteration-count";
// @import "animate/css3/animation/animation-direction";
// @import "animate/css3/animation/animation-play-state";
// @import "animate/css3/animation/animation-delay";
// @import "animate/css3/animation/animation-fill-mode";

.is-giggling {
	@include animation-name( giggle-loop );
	@include animation-duration( 2s );
	@include animation-iteration-count( infinite );
	// @include animation-delay( 1s );
}

.pghome-btnplay:hover {
	@include animation-name( giggle-once );
	@include animation-duration( 0.3s );
	@include animation-iteration-count( 1 !important );
}


@mixin giggle-loop() {
	0% {
		@include transform( rotateZ(0deg) );
	}

	80% {
		@include transform( rotateZ(0deg) );
	}

	90% {
		@include transform( rotateZ(5deg) );
	}

	95% {
		@include transform( rotateZ(-5deg) );
	}

	100% {
		@include transform( rotateZ(0deg) );
	}
}



@mixin giggle-once() {
	0% {
		@include transform( rotateZ(0deg) );
	}

	33% {
		@include transform( rotateZ(5deg) );
	}

	66% {
		@include transform( rotateZ(-5deg) );
	}

	100% {
		@include transform( rotateZ(0deg) );
	}
}


@if $experimental-support-for-webkit {
  @-webkit-keyframes giggle-loop { @include giggle-loop; }
  @-webkit-keyframes giggle-once { @include giggle-once; }
}
@if $experimental-support-for-khtml {
  @-khtml-keyframes giggle-loop { @include giggle-loop; }
  @-khtml-keyframes giggle-once { @include giggle-once; }
}
@if $experimental-support-for-mozilla {
  @-moz-keyframes giggle-loop { @include giggle-loop; }
  @-moz-keyframes giggle-once { @include giggle-once; }
}
@if $experimental-support-for-microsoft {
  @-ms-keyframes giggle-loop { @include giggle-loop; }
  @-ms-keyframes giggle-once { @include giggle-once; }
}
@if $experimental-support-for-opera {
  @-o-keyframes giggle-loop { @include giggle-loop; }
  @-o-keyframes giggle-once { @include giggle-once; }
}
@keyframes giggle-loop { @include giggle-loop; }
@keyframes giggle-once { @include giggle-once; }