<div class="l-page l-pggallery">
    <section>

        <div class="l-page-outter">
	    	<div class="pggallery-content l-page-inner">
	        	<span class="l-page-inner-scrollable scrollable-y">
	        		<h2 class="pggallery-heading heading heading1">Gallery</h2>
		        	<p class="pggallery-body pg-body"></p>
	        	</span>

	        	
	        	<button class="pg-btnclose pggallery-btnclose btnclose-speechbubble btnnormalize"  
		    			hm-tap="closePage()" hm-tap-opts="Mdl.hmTapBtnOpts" 
		    			ng-click="closePage(true)"
		    			>
	        		<span class="title">Close</span>
		        	<svg class="bg">
		        		<use style="fill:#FAEF8E; stroke:#9F9110;" xlink:href="#core-speechbubble"></use>
		        	</svg>
	        	</button>
	        	
	        	<svg class="pggallery-leaf pggallery-token transformable">
	        		<use xlink:href="#core-leaf"></use>
	        	</svg>
	        	<svg class="pggallery-chicken pggallery-token transformable">
	        		<use xlink:href="#core-chicken"></use>
	        	</svg>
	        	<svg class="pggallery-apple pggallery-token transformable">
	        		<use xlink:href="#core-apple"></use>
	        	</svg>
	        	<svg class="pggallery-carrot pggallery-token transformable">
	        		<use style="fill:#E78A2D" xlink:href="#core-carrot"></use>
	        	</svg>

				<div class="ng-cloak gallerythumbnails">
		            <button class="gallerythumbnails-btn" ng-repeat="img in Mdl.loadedImages" ng-click="Mdl.slideIndex=$index" ng-class="{'is-active': (Mdl.slideIndex==$index)}">
		            	<span class="gallerythumbnails-img" ng-class="'appsprite-' + img.id"></span>
		            </button>
		        </div>

	        	<ul rn-carousel rn-carousel-index="Mdl.slideIndex" class="image">
				  <li ng-repeat="img in Mdl.loadedImages" ng-style="{'background-image': 'url(/_dev/app/pages/Gallery/img/singles/' + img.id + '.jpg)'}">
				  </li>
				</ul>
        	</div>
        </div>

    </section>
</div>