
@import "compass/css3/transform";

// layout

$trans-delay: 0.7s;

.l-contentoverlay-container {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	// background-color: rgba(255, 255, 255, 0.5);
	// background-color: rgba(0, 0, 255, 0.5);
	background-color: transparent; // needs no colour, as game has it's own overlay now
	z-index: 100;
	display: none;

	// no need to animate, as it's invisible now because game has it's own overlay
	// @include transform( translateY(100%) );
	// @include transition-property( transform( translateY ) );
	// @include transition-duration( 0.4s );
	// @include transition-delay( $trans-delay );
	// @include transition-timing-function( ease-in-out );
}

.l-contentoverlay-obscure {
	margin: 10px 0 0 19px;
	float: left;
}


/*
.l-contentoverlay-center-outter {
	position: absolute;
	display: block;
	top: 50%;
	left: 50%;
}

.l-contentoverlay-center-inner {
	display: block;
	margin-top: -50%;
	margin-left: -50%;
}
*/

// modules

.contentoverlay-titlepaused {
	font-family: "Gloria Hallelujah";
	margin: 0;
	padding: 0;
	color: $blue-dark-1;
	font-size: 0.8em;
	// opacity: 0;
	// @include transition-property( opacity );
	// @include transition-duration( 0.3s );
	// @include transition-delay( $trans-delay );
}


// states

.onload-state,
.contentoverlay-is-showing {
	display: block;
	// no need to animate, as it's invisible now because game has it's own overlay
	// @include transform( translateY(0%) !important );

	/* .contentoverlay-titlepaused {
		opacity: 1;
		@include transition-delay( 0.5s );
	} */
}