/* contact page start */

@import "compass/css3/transform";
@import "compass/css3/border-radius";

.pgcontact-content {
	background-color: $green-light-1;
	border: 3px solid $green-dark-1;
	@include border-radius(40px);
}

.pgcontact-discl {
	font-size: 0.75em;
}

.pgcontact-btnclose {
	@media screen and (min-width: $screen-xs) {
		top: -45px;
		right: -114px;
	}
}

.pgcontact-heading {
	color: $green-dark-1;
}


.pgcontact-flower {
	width: 95px;
	height: 82px;
	
	top: -33px;
	left: -40px;
	$scale: 0.65;
	@include transform( scaleX($scale) scaleY($scale) );
}

.pgcontact-fish {
	width: 60px;
	height: 40px;
	
	top: -15px;
	right: 60px;
	$scale: 1.15;
	@include transform( scaleX(-$scale) scaleY($scale) rotateZ(-10deg) );

	@media screen and (min-width: $screen-xs) {
		top: -10px;
		right: -20px;
		$scale: 1.15;
		@include transform( scaleX(-$scale) scaleY($scale) );
	}
}

.pgcontact-mushroom {
	width: 24px;
	height: 29px;
	
	bottom: -5px;
	left: -3px;
	$scale: 1.4;
	@include transform( scaleX($scale) scaleY($scale) rotateZ(-26deg) );
}

.pgcontact-parsnip {
	width: 36px;
	height: 39px;
	
	bottom: 0;
	right: -17px;
	$scale: 1.3;
	@include transform( scaleX($scale) scaleY($scale) );
}

.angular-google-map-container {
	height: 200px;
	margin-bottom: 20px;
	
	@media screen and (min-width: $screen-xs) {
		height: 300px;
		padding: 0px;
	}
}

/* contact page end */