<div class="l-pagenav-container pagenav-container" ng-class="{'navfallback': Mdl.navfallback, 'notransforms3d': Mdl.notransforms3d}" >
    <div class="l-pagenav-pos ani" ng-class="ngClsMovingTrain">

    	<nav class="pagenav-btnnav">
    		<!-- hammer tap doesn't do anything on ie8, so clicks added as well -->
    		<span class="pagenav-fallbackarrows" ng-click="toggleExpanded()"><<</span>
	    	<span class="transformable">
	    		<button class="btnnav" 	ng-click="openPage( 'home', true )" 
	    								hm-tap="openPage( 'home' )" hm-tap-opts="Mdl.hmTapTitleOpts">Home</button>
	    	</span>
	    	<span class="transformable">
	    		<button class="btnnav" 	ng-click="openPage( 'about-me', true )" 
	    								hm-tap="openPage( 'about-me' )" hm-tap-opts="Mdl.hmTapTitleOpts">About&nbsp;Me</button>
	    	</span>
	    	<span class="transformable">
	    		<button class="btnnav" 	ng-click="openPage( 'gallery', true )" 
	    								hm-tap="openPage( 'gallery' )" hm-tap-opts="Mdl.hmTapTitleOpts">Gallery</button>
	    	</span>
	    	<span class="transformable">
	    		<button class="btnnav" 	ng-click="openPage( 'contact', true )" 
	    								hm-tap="openPage( 'contact' )" hm-tap-opts="Mdl.hmTapTitleOpts">Contact</button>
	    	</span>
    	</nav>

		<svg class="transformable pagenav-trainlink">
		  <use xlink:href="#core-train-link"></use>
		</svg>

		<span class="transformable pagenav-trainfront" 
				hm-tap="openPage( 'home' )"
				hm-tap-opts="Mdl.hmTapCarriageOpts"
				>
			<span class="inner">
				<svg>
				  <use xlink:href="#core-train-front"></use>
				</svg>
			</span>
		</span>

		<span class="transformable pagenav-traincarriage-yellow" 
				hm-tap="openPage( 'about-me' )"
				hm-tap-opts="Mdl.hmTapCarriageOpts"
				>
			<span class="inner">
				<svg>
				  <use xlink:href="#core-train-carriage-yellow"></use>
				</svg>
			</span>
		</span>


		<span class="transformable pagenav-traincarriage-red" 
				hm-tap="openPage( 'gallery' )"
				hm-tap-opts="Mdl.hmTapCarriageOpts"
				>

			<span class="inner">
				<svg>
				  <use xlink:href="#core-train-carriage-red"></use>
				</svg>
			</span>
		</span>

		<span class="transformable pagenav-traincarriage-green" 
				hm-tap="openPage( 'contact' )"
				hm-tap-opts="Mdl.hmTapCarriageOpts"
				>
			<span class="inner">
				<svg>
				  <use xlink:href="#core-train-carriage-green"></use>
				</svg>
			</span>
		</span>

		<span class="transformable pagenav-trainwheel pagenav-trainwheel-blue1">
			<span class="inner alt">
				<svg>
				  <use fill="#628BD1" stroke="#0F316A" xlink:href="#core-train-wheel"></use>
				</svg>
			</span>
		</span>

		<span class="transformable pagenav-trainwheel pagenav-trainwheel-blue2">
			<span class="inner">
				<svg>
				  <use fill="#628BD1" stroke="#0F316A" xlink:href="#core-train-wheel"></use>
				</svg>
			</span>
		</span>

		<span class="transformable pagenav-trainwheel pagenav-trainwheel-yellow1">
			<span class="inner alt">
				<svg>
				  <use fill="#FBEC67" stroke="#A09212" xlink:href="#core-train-wheel"></use>
				</svg>
			</span>
		</span>

		<span class="transformable pagenav-trainwheel pagenav-trainwheel-yellow2">
			<span class="inner">
				<svg>
				  <use fill="#FBEC67" stroke="#A09212" xlink:href="#core-train-wheel"></use>
				</svg>
			</span>
		</span>

		<span class="transformable pagenav-trainwheel pagenav-trainwheel-red1">
			<span class="inner">
				<svg>
				  <use fill="#B9594C" stroke="#A02211" xlink:href="#core-train-wheel"></use>
				</svg>
			</span>
		</span>

		<span class="transformable pagenav-trainwheel pagenav-trainwheel-red2">
			<span class="inner alt">
				<svg>
				  <use fill="#B9594C" stroke="#A02211" xlink:href="#core-train-wheel"></use>
				</svg>
			</span>
		</span>

		<span class="transformable pagenav-trainwheel pagenav-trainwheel-green1">
			<span class="inner alt">
				<svg>
				  <use fill="#83C451" stroke="#34680D" xlink:href="#core-train-wheel"></use>
				</svg>
			</span>
		</span>

		<span class="transformable pagenav-trainwheel pagenav-trainwheel-green2">
			<span class="inner">
				<svg>
				  <use fill="#83C451" stroke="#34680D" xlink:href="#core-train-wheel"></use>
				</svg>
			</span>
		</span>
    	
	    </div><!-- .l-pagenav-pos -->
</div>