<div 	class="l-contentoverlay-container onload-state" 
		ng-class="ngClsShowing" 
		hm-tap="unpause()" 
		hm-tap-opts="Mdl.hmTapBgOpts" >
    
    <span class="l-contentoverlay-obscure">
    	<p ng-if="Mdl.gflipIsPlayable" class="contentoverlay-titlepaused">Paused</p>
    </span>
    <!-- <span class="l-contentoverlay-center-outter">
    	<span class="l-contentoverlay-center-inner">
			<p ng-if="Mdl.gflipIsPlayable" class="contentoverlay-titlepaused">Paused</p>
    	</span>
    </span> -->
</div>