<div class="l-page l-pgcontact">
    <section>

        <div class="l-page-outter">
	    	<div class="pgcontact-content l-page-inner">
	        	<span class="l-page-inner-scrollable scrollable-y">
	        		<h2 class="pgcontact-heading heading heading1">Contact</h2>
		        	<p class="pgcontact-body pg-body">
		        	If you would like to get in contact please either phone me, on 0414 938 773, or email me at <a class="bodylink" href="mailto:melindaweigert@yahoo.com.au">melindaweigert@yahoo.com.au</a>.

		        	<h3 class="pgcontact-heading heading heading2">Location</h3>
		        	We are located on Mascot Street, in Woy Woy*, just off Ocean Beach Road.
		        	</p>
		        	<p class="pgcontact-discl">* Exact address isn't shown for privacy purposes.</p>
	        	</span>

	        	<google-map center="map.center" zoom="map.zoom" draggable="true", options="{'mapTypeId': 'hybrid'}" ></google-map>

	        	<button class="pg-btnclose pgcontact-btnclose btnclose-speechbubble btnnormalize" 
		    			hm-tap="closePage()" hm-tap-opts="Mdl.hmTapBtnOpts" 
		    			ng-click="closePage(true)"
		    			>
	        		<span class="title">Close</span>
		        	<svg class="bg">
		        		<use style="fill:#7F9ED1; stroke:#0F316A;" xlink:href="#core-speechbubble"></use>
		        	</svg>
	        	</button>
	        	
	        	<svg class="pgcontact-flower transformable">
	        		<use xlink:href="#core-flower"></use>
	        	</svg>
	        	<svg class="pgcontact-fish transformable">
	        		<use style="fill:#38517A" xlink:href="#core-fish"></use>
	        	</svg>
	        	<svg class="pgcontact-mushroom transformable">
	        		<use style="fill:#1D3679" xlink:href="#core-mushroom"></use>
	        	</svg>
	        	<svg class="pgcontact-parsnip transformable">
	        		<use style="fill:#fff" xlink:href="#core-carrot"></use>
	        	</svg>
        	</div>
        </div>

    </section>
</div>