/*! base START */

html {
	font-size: 16px;
}

// Bootstrap 3 reset
@import "../../../deps/libs/bootstrap-sass-3.1.1/stylesheets/bootstrap/normalize";
// @import "../../../deps/libs/bootstrap-sass-3.1.1/stylesheets/bootstrap/print";

// // Bootstrap 3 core
// @import "../../../deps/libs/bootstrap-sass-3.1.1/stylesheets/bootstrap/scaffolding";
// @import "../../../deps/libs/bootstrap-sass-3.1.1/stylesheets/bootstrap/type";
// @import "../../../deps/libs/bootstrap-sass-3.1.1/stylesheets/bootstrap/tables";
// @import "../../../deps/libs/bootstrap-sass-3.1.1/stylesheets/bootstrap/forms";
// @import "../../../deps/libs/bootstrap-sass-3.1.1/stylesheets/bootstrap/buttons";

// // Bootstrap 3 utility classes
// @import "../../../deps/libs/bootstrap-sass-3.1.1/stylesheets/bootstrap/utilities";


// needed to fix ng-touch svg ".blur" bugs. SVG tags should be wrapped in spans if touch needed.
svg {
	pointer-events: none;
}

/*! base END */


