
// Bootstrap 3 Core CSS
// @import "../../../deps/libs/bootstrap-sass-3.1.1/stylesheets/bootstrap/grid";

// Bootstrap 3 utility classes
// @import "../../../deps/libs/bootstrap-sass-3.1.1/stylesheets/bootstrap/responsive-utilities";


/**
 * Needs 100% height on html, body and content to fill screen height
 */

.l-wrapper-outter-html {
	background-color: $yellow-light-1;
	width: 100%;
	height: 100%;
}

.l-wrapper-outter-body {
	height: 100%;

	// temp debug only
	// overflow-y: hidden;
}

.l-wrapper-content {
	background-color: $green-light-1;
	
	margin: 0 auto;
	height: 100%;
	min-height: $bgH;

	padding: 0 10px;
	overflow: hidden;
	
	width: $screen-xs-portrait-max;

	@media screen and (min-width: $screen-xs) {
		$bord: 8px;
		$w: $appW;
		width: $w - ($bord * 2);
		min-height: $bgH + ($gflip-padtop * 2);
		border-left: $bord solid $yellow-dark-1;
		border-right: $bord solid $yellow-dark-1;

		padding: 0;
		overflow: visible;
	}


	@each $w in $mobile-widths {
		@media screen and (max-width: $w) {
			width: $w;
			padding-left: 0;
			padding-right: 0;
		}
	}

	@each $h in $mobile-heights {
		@media screen and (max-height: $h) {
			min-height: $h;
			padding-top: 0;
			padding-bottom: 0;
		}
	}
	
	// Widths: Galaxy Note 2, Motorolla Droid & Atrix - weird size. Seen as tablet by standard breakpoints.
	/* @media screen and (max-width: 540px) {
		width: 540px;
	} */

	// Heights: Galaxy Note 3, Motorolla Droid & Atrix. Seen as tablet by standard breakpoints.
	/* @media screen and (max-height: 960px) {
		min-height: 960px;
	} */
}

.l-pgholder {
	position: absolute;
	top: 0;
	z-index: 110;
}

.l-page {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	min-width: $screen-xs-portrait-max;

	@media screen and (min-width: $screen-xs) {
		min-width: $appW;
	}

	@each $i in $mobile-widths {
		@media screen and (max-width: $i) {
			min-width: $i;
		}
	}
}

.l-page-outter {
	max-width: $pgW - ($pgMargX * 2);
	margin: $portraitMargY auto 0;

	@media screen and (min-width: $screen-xs) {
		margin: $pgMargY auto 0;
	}
}


$pgPadMob1: 15px;
$pgPadMob3: 10px;

.l-page-inner {
	z-index: 110; // must be more than contentoverlay
	position: relative;
	padding: $pgPadMob1 $pgPad2 $pgPadMob3 $pgPad4;
	margin: 0 $pgMargX;

	@media screen and (min-width: $screen-xs) {
		padding: $pgPad1 $pgPad2 $pgPad3 $pgPad4;
		margin: 0 10px;
	}


}

.l-page-inner-scrollable {
	@each $h in $mobile-heights {
		@media screen and (max-height: $h) {
			max-height: $h - ($portraitMargY * 2) - $pgPadMob1 - $pgPadMob3;
		}
	}

	@media screen and (min-width: $screen-xs) {
		max-height: $bgH - ($portraitMargY * 2) - $pgPad1 - $pgPad3;
	}
}