/*
Uses Animate.sass for Compass 1.2.x. When 1.3.x is released it will not be needed.

Installation
1. `gem install animate-sass`
2. Add `require 'animate-sass'` in Compass's `config.rb` file - for this project located in grunt_tasks/sass/config.rb
3. Then `@import animate.sass` (all animations)
*/

@import 'compass/css3/transition';

@import "animate/shared";
@import "animate/css3/transform";
@import "animate/css3/animation/animation-name";
@import "animate/css3/animation/animation-duration";
@import "animate/css3/animation/animation-timing-function";
// @import "animate/css3/animation/animation-iteration-count";
@import "animate/css3/animation/animation-direction";
// @import "animate/css3/animation/animation-play-state";
@import "animate/css3/animation/animation-delay";
// @import "animate/css3/animation/animation-fill-mode";


// all animations -- DEV ONLY. Otherwise you'll get a shit load of unneeded css.
//@import "animate/animations";

@import "animate/animations/fading-entrances";
@import "animate/animations/rotating-exits";


$dur: 0.8s;

.page {
  opacity: 1;
  position: absolute;
  //@include transform-origin( 200px 200px 0 );
}

// allows us to have a delay on the animation flipInX, but hide the page initially
//.page.ng-enter-active {
  //opacity: 0;
//}

.page.ng-enter {
  @include animation-name(fadeIn);
  @include animation-duration($dur);
  //@include animation-delay($dur);
  z-index: 109; // must be more than contentoverlay, but less than .page.ng-leave
  //opacity: 0; // stops flicker on page change
}

.page.is-from-intro {
  opacity: 0;
}

.page.ng-enter.is-from-game {
  @include animation-delay(0s);
}

.page.ng-leave {
  @include animation-name(rotateOutDownRight);
  @include animation-duration($dur + 0.5s);
  //@include animation-delay(0.2s);
  //@include animation-direction(reverse);
  z-index: 110; // must be more than contentoverlay

  // Touch is probably not the best hook for this, as touch laptops will be included. What need is something to detect fixed width screens.
  // Problem is that it makes the transition out jump a bit and is only needed on fixed width devices because it makes the bg change size momentarily.
  .mdz-touch & {
    // stops page width changing duing transitions (as it did with absolute)
    position: fixed;
    min-width: initial;
  }
}
