
$experimental-support-for-webkit: true;
$experimental-support-for-microsoft: true;
$experimental-support-for-mozilla: true;
$experimental-support-for-khtml: true;
$experimental-support-for-opera: true;


// $scalex360: 0.75; // nexus 5 (1080px / device ratio 3)
// $scalex320: 0.74; // iPhone 4/5 (640px / device ratio 2)

/**
 * Break points taken from Bootstrap 3
 */
$screen-xs:		480px !default;
$screen-sm:    	768px !default;
$screen-md:     992px !default;
$screen-lg:     1200px !default;
$screen-xs-portrait-max: ($screen-xs - 1px) !default;
// $screen-xs-max: ($screen-sm - 1) !default;
// $screen-sm-max: ($screen-md - 1) !default;
// $screen-md-max: ($screen-lg - 1) !default;

// $screen-xs-portrait-max: $screen-xs-portrait-max * $everything-scale-x;

// lists for popular mobile sizes (within the standard breakpoints). Taken from Chrome Dev Tools emulator.
$mobile-widths: 400px 384px 360px 320px; // should be heighest to lowest
$mobile-heights: 640px 600px 568px 480px; // should be heighest to lowest

$appW: 960px;

$bgW: 709px;
$bgH: 659px;
$portraitBgH: 580px;

// pages
$pgW: $bgW;
$pgMargY: 50px;
$portraitMargY: round( $pgMargY / 2 );
$pgMargX: 20px;
$pgPad1: 30px;
$pgPad2: 20px;
$pgPad3: 15px;
$pgPad4: 20px;

$gflip-padtop: 50px;

$portraitScaleX: $screen-xs-portrait-max / $bgW;
$portraitScaleY: $portraitBgH / $bgH;
// $portraitScaleX: 0.7;
$portraitW: round( $bgW * $portraitScaleX );
$portraitXDif: round( ($bgW - $portraitW)/2 );


// colours
$green-light-1: #82C350;
$green-dark-1: #467F1A;
$yellow-dark-1: #9F9110;
$yellow-light-1: #FAEF8E;
$blue-dark-1: #38517A;
$blue-light-1: #618AD0;
$red-dark-1: #9F2110;
$red-light-1: #FA9A8E;

$FONT_PATH: "/_dist/deploy/fonts/";
$IMG_PATH: "/_dist/deploy/img/";